<div id="<%= dom_id poltrona %>">
  <p>
    <strong>Area:</strong>
    <%= poltrona.area_id %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= poltrona.numero %>
  </p>

  <p>
    <strong>Disponivel:</strong>
    <%= poltrona.disponivel %>
  </p>

</div>
