<% content_for :title, "Editing poltrona" %>

<h1>Editing poltrona</h1>

<%= render "form", poltrona: @poltrona %>

<br>

<div>
  <%= link_to "Show this poltrona", @poltrona %> |
  <%= link_to "Back to poltronas", poltronas_path %>
</div>
