<div id="<%= dom_id area %>">
  <p>
    <strong>Nome:</strong>
    <%= area.nome %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= area.preco %>
  </p>

  <p>
    <strong>Quantidade poltronas:</strong>
    <%= area.quantidade_poltronas %>
  </p>

</div>
