<h1>Estatísticas de Vendas</h1>

<div>
  <h2>Valor total do dia</h2>
  <p><%= @valor_hoje %></p>
</div>

<div>
  <h2>Sessão mais vista</h2>
  <p><%= @sessao_mais_vista %></p>
</div>

<div>
  <h2>Peça mais vista</h2>
  <p><%= @peca_mais_vista %></p>
</div>

<div>
  <h2>Área mais utilizada</h2>
  <p><%= @area_mais_utilizada %></p>
</div>
